<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<link href="{$baseURL}themes/{$curTheme}/{$curTheme}.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{$faviconURL}" />
<title>{$title}</title>
</head>
<body>
<div class="logo"></div>

{foreach $menu as $menuItem}{$menuItem}{foreachelse}
No menu found.
{/foreach}


<div class="userbuttons">
	<span class="date">{$date}</span>
	<span class="Servers">Match servers: <a href="{$baseURL}Servertracker/">{$onlinePlayers}</a></span>
	<span class="onlineUsers">Website: <a href="{$baseURL}Online/">{$onlineUsers}</a></span>
	{if isset($logoutURL)}<span class="logout"><a href="{$logoutURL}">Logout</a></span>{/if}
</div>

<div class="content">
<p>
{if isset($canPMTeam) && $canPMTeam}<a class="button" href="{$pmLink|escape}">Send message to team</a>{/if}
{if isset($canEditTeam) && $canEditTeam}<a class="button" href="./?edit={$teamid|escape}">edit</a>{/if}
{if isset($canDeleteTeam) && $canDeleteTeam}<a class="button" href="./?delete={$teamid|escape}">delete</a>{/if}
<a class="button" href="./?opponent_stats={$teamid}">opponent stats</a>
</p>

{if !isset($team) || empty($team)}
<div class="static_page_box">
<p>An error occurred: Display of team's profile impossible.</p>
</div>
{else}

<div class="team_area">

	<div class="team_header">
		<div class="team_name">{$team.name|escape}{if isset($status) && $status === 'deleted'} <span class="team_status_deleted">(deleted)</span>{/if}</div>
{if isset($team.logo) && !empty($team.logo)}
<img class="team_logo" src="{$team.logo|escape}" style="max-width:300px; max-height:200px" alt="team logo" />
{/if}
		<span class="team_score">Rating: {$team.score}<span class="{$team.scoreClass}"></span></span>
		<div class="team_activity"><span class="team_activity_announcement">Activity: </span><span class="team_activity">{$team.activityNew} ({$team.activityOld})</span></div>
		<div class="team_member_count"><span class="team_member_count_announcement">Members: </span><span class="team_member_count">{$team.memberCount}</span></div>
{if isset($status)}		<div class="team_status">Status: <span class="team_status_{$status|escape}">{$status|Capitalize|escape}</span></div>{/if}

		<div class="team_created"><span class="team_created_announcement">Created: </span><span class="team_created">{$team.created}</span></div>
	<table id="table_team_matches_data" class="nested_table">
	<caption>Match statistics</caption>
	<tr>
		<th>Wins</th>
		<th>Draws</th>

		<th>Losses</th>
		<th>Total</th>
	</tr>
	<tr>
		<td>{$team.wins}</td>
		<td>{$team.draws}</td>
		<td>{$team.losses}</td>
		<td><a href="{$team.matchSearchLink}">{$team.matchCount}</a></td>
	</tr>
	</table>
	</div>
</div>
<div class="team_area">
	<div class="team_profile_box">
		<div class="team_profile_header_text">Team description</div>

		<div class="team_description">
		{if $teamDescription|count_characters > 0}{$teamDescription}{else}(No team description set){/if}
		</div>
	</div>
</div>

{if isset($members) && !empty($members)}
<table id="table_team_members" class="big">
<caption>Members of team {$team.name}</caption>
<tr>
	<th>Name</th>
	<th>Location</th>
	<th>Permissions</th>

	<th>Last Login</th>
	{if isset($showMemberActionOptions) && $showMemberActionOptions}
	<th>Allowed actions</th>
	{/if}
</tr>
{foreach item="member" from=$members}
<tr class="teams_members_overview">
<td><a href="{$member.profileLink}">{$member.userName}</a></td>
<td>
{if isset($member.countryFlag) && !empty($member.countryFlag)}
<img alt="country flag" class="country_flag" src="{$member.countryFlag}" />
{/if}
<span class="user_profile_location">{$member.countryName}</span>
</td>
<td>{$member.permissions}</td>
<td>{$member.last_login}</td>
{if isset($member.removeLink)}
<td><a class="button" href="{$member.removeLink}">{$member.removeDescription}</a></td>
{elseif isset($showMemberActionOptions) && $showMemberActionOptions}
<td></td>
{/if}
</tr>
{/foreach}
{else}
<div class="static_page_box">Error: No team members found.</div>
{/if}

</table>

{if isset($matches) && !empty($matches)}
<table id="table_matches_played" class="big">
<caption>Last entered matches</caption>
<tr>
	<th>Time</th>
	<th>Teams</th>
	<th>Result</th>

	<th>last mod by</th>
	{if $showMatchActionOptions}
	<th>Allowed actions</th>
	{/if}
</tr>
{foreach item="match" from=$matches}
<tr class="matches_overview">
<td>{$match.time}</td>
<td><a href="{$match.team1Link}">{$match.team1Name|escape}</a> - <a href="{$match.team2Link}">{$match.team2Name|escape}</a></td>
<td>{$match.score1} - {$match.score2}</td>
<td>{if isset($match.lastModByLink) && $match.lastModByLink !== 0}<a href="{$match.lastModByLink}">{/if}{$match.lastModByName}{if isset($match.lastModByLink) && $match.lastModByLink !== 0}</a>{/if}</td>
{if $showMatchActionOptions}
<td>
{if $allowEdit}
<a class="button" href="{$match.editLink}">Edit match</a>
{/if}
{if $allowDelete}
<a class="button" href="{$match.deleteLink}">Delete match</a>
{/if}
</td>
{/if}
</tr>
{/foreach}
{else}
<div class="static_page_box">No matches entered yet.</div>
{/if}
</table>
{if isset($showDeleteButton) && $showDeleteButton}<p><a class="button" href="./?delete={$teamid|escape}">Delete this team</a></p>{/if}
{/if}

{if isset($invitations) && is_array($invitations) && !empty($invitations)}
<table id="table_team_invitations" class="big">
<caption>Open Invitations</caption>
<tr>
	<th>Player</th>
	<th>Expiration</th>
</tr>
{foreach item="invitation" from=$invitations}
<tr class="teams_members_overview">
	<td><a href="{$invitation.profileLink|escape}">{$invitation.userName|escape}</a></td>
	<td>{$invitation.expiration|escape}</td>
</tr>
{/foreach}
</table>
{/if}

</div>
</body>
</html>
