<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<link href="{$baseURL}themes/{$curTheme}/{$curTheme}.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{$faviconURL}" />
<title>{$title}</title>
</head>
<body>
<div class="logo"></div>

{foreach $menu as $menuItem}{$menuItem}{foreachelse}
No menu found.
{/foreach}


<div class="userbuttons">
	<span class="date">{$date}</span>
	<span class="Servers">Match servers: <a href="{$baseURL}Servertracker/">{$onlinePlayers}</a></span>
	<span class="onlineUsers">Website: <a href="{$baseURL}Online/">{$onlineUsers}</a></span>
	{if isset($logoutURL)}<span class="logout"><a href="{$logoutURL}">Logout</a></span>{/if}
</div>

<div class="content">
<!-- BEGIN USERBUTTONS -->{PERMISSION_BASED_BUTTONS}<!-- END USERBUTTONS -->

<div class="msg_nav">
<span class="folder_selection">
<!-- BEGIN INBOX_SELECTED --><a href="./?folder=inbox">inbox!</a> <!-- END INBOX_SELECTED -->
<!-- BEGIN INBOX_NOT_SELECTED --><a href="./?folder=inbox">inbox</a> <!-- END INBOX_NOT_SELECTED -->
<!-- BEGIN OUTBOX_SELECTED --><a href="./?folder=outbox">outbox!</a> <!-- END OUTBOX_SELECTED -->
<!-- BEGIN OUTBOX_NOT_SELECTED --><a href="./?folder=outbox">outbox</a> <!-- END OUTBOX_NOT_SELECTED -->
</span>
</div>

<span class="prev_next_msg_buttons">
<!-- BEGIN PMNAV --><!-- BEGIN PREV_MSG --><a class="button" id="prev_msg" href="./?folder=inbox&amp;view={MSGID}">Previous message</a><!-- END PREV_MSG -->
<!-- BEGIN NEXT_MSG --><a class="button" id="next_msg" href="./?folder=inbox&amp;view={MSGID}">Next message</a><!-- END NEXT_MSG -->
</span><!-- END PMNAV -->

<!-- BEGIN MISC --><div class="msgViewErrorMsg">{MSG}</div><!-- END MISC -->
<!-- BEGIN PMVIEW -->
<div class="msg_area"><div class="msg_view_full">
	<div class="msg_header_full">
		<span class="msg_subject">{PM_SUBJECT}</span>
		<span class="msg_author"> by {PM_AUTHOR}</span>
		<span class="msg_author"> to <!-- BEGIN MSG_RECIPIENTS -->
			{MSG_ONE_RECIPIENT}<!-- END MSG_RECIPIENTS -->
		</span>
		<span class="msg_timestamp"> at {PM_TIME}</span>
	</div>
	<div class="msg_contents">
		{PM_CONTENT}
	</div>
</div>

<div class="msg_view_button_list">

<!-- BEGIN REPLY_TEAM -->
<form class="msg_buttons" action="{BASEADDRESS}Messages/?add&amp;reply=team&amp;id={MSGID}&amp;teamid={TEAMID}" method="post">
<p><input type="submit" value="Reply to team" />
</p>
</form>
<!-- END REPLY_TEAM -->

<!-- BEGIN REPLY_PLAYERS -->
<form class="msg_buttons" action="{BASEADDRESS}Messages/?add&amp;reply=players&amp;id={MSGID}" method="post">
<p><input type="submit" value="Reply to {REPLY_PLAYER_OR_PLAYERS}" />
</p>
</form>
<!-- END REPLY_PLAYERS -->

<form class="msg_buttons" action="{BASEADDRESS}Messages/?delete={MSGID}&amp;folder={MSG_FOLDER}" method="post">
<p><input type="submit" value="Delete this message" />
</p>
</form>
</div>
<!-- END PMVIEW -->

</div>
</body>
</html>
