div.article
{
	border-radius: 0.42em;
	font-size: 0.82em;
	padding: 0 0.5em;
	background-color: #292929;
	border: 1px solid #ff5b60;
	-webkit-box-shadow: 0px 2px 16px #e75d62;
}

div.articleHeader
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-weight: bold;
	font-size: 110%;
}


div.timestamp
{
	text-align: left;
	float: left;
	font-weight: bold;
	color: #feffff;
}


div.author
{
	text-align: right;
}

div.articleContent
{
	margin-top: 1em;
	margin-bottom: 1em;
}

div.article + *
{
	margin-top: 1.5em;
}