table.big
{
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	background-color: #292929;
	border: 1px solid #ff5b60;
	border-radius: 0.42em;
	border-spacing: 0px;
	box-shadow: 0px 2px 16px #e75d62;
	-moz-box-shadow: 0px 2px 16px #e75d62;
	-webkit-box-shadow: 0px 2px 16px #e75d62;
	padding: 2em 0.5em 0.5em;
}

table.big caption
{
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: solid;
	border-width: 1px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: -2em;
}

tr:nth-child(odd)
{
	background-color: #2d2d2d;
}

tr:nth-child(even)
{
	background-color: #222;
}

table a, td > a.button, td > a.button:hover
{
	color: white;
}

tr:nth-child(1)
{
	background-color: #292929;
}

td > a.button, td > a.button:hover
{
	border-style: none;
	border-color: none;
	background-color: transparent;
	box-shadow:inset 10px 10px 1em 15px transparent;
	-moz-box-shadow:inset 10px 10px 1em 15px transparent;
	-webkit-box-shadow:inset 10px 10px 1em 15px transparent;
}

td
{
	border-bottom-width: 23px;
	border-style: none;
	border-width: 0;
}

/*table a.button:before
{
	content: "[";
}

table a.button:after
{
	content: "]";
}*/