<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<link href="{$baseURL}themes/{$curTheme}/{$curTheme}.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{$faviconURL}" />
<title>{$title}</title>
</head>
<body>
<div class="logo"></div>

{foreach $menu as $menuItem}{$menuItem}{foreachelse}
No menu found.
{/foreach}


<div class="userbuttons">
	<span class="date">{$date}</span>
	<span class="Servers">Match servers: <a href="{$baseURL}Servertracker/">{$onlinePlayers}</a></span>
	<span class="onlineUsers">Website: <a href="{$baseURL}Online/">{$onlineUsers}</a></span>
	{if isset($logoutURL)}<span class="logout"><a href="{$logoutURL}">Logout</a></span>{/if}
</div>

<div class="content">

{if isset($teamDeleteSuccessful) && $teamDeleteSuccessful}
<div class="static_page_box">
<p>You successfully deleted the team {$teamName|escape}.</p>
</div>
{else}
{if isset($error) && $error !== ''}
<div class="static_page_box">
	<p>An error prevented team deletion: {$error|escape}</p>
</div>
{else}
<div class="static_page_box">
<form enctype="application/x-www-form-urlencoded" method="post" action="?delete={$teamid|escape}">
<div><input type="hidden" name="confirmed" value="1" /></div>
<div><input type="hidden" name="key_name" value="{$keyName}" /></div>
<div><input type="hidden" name="{$keyName}" value="{$keyValue}" /></div>
<p style="display:inline">Do you really want to delete the team <a href="./?profile={$teamid|escape}">{$teamName|escape}</a>?</p>
<div style="display:inline"><input type="submit" name="delete_team" value="Delete the team" id="send" /></div>
</form>

</div>
{/if}
{/if}
</div>
</body>
</html>
