/* remove underline from links */
a
{
	color: #ff5b60;
	text-decoration: none;
}

a:hover
{
	color: #4e405a;
}

a:visited
{
	color : #005981;
}

a:visited:hover
{
	color: #4e405a;
}

a:active
{
	color : #005981;
}


/* some links should be displayed as butttons */
a.button
{
	color: white !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	display: inline-block;
	border-top: 2px solid #c84015;
	border-right: 2px solid #74250c;
	border-bottom: 2px solid #74250c;
	border-left: 2px solid #c84015;
	box-shadow:inset -10px -10px 1em #641b05;
	-moz-box-shadow:inset -10px -10px 1em #641b05;
	-webkit-box-shadow:inset 10px 10px 1em 15px #641b05;
}

a.button:hover
{
	border-bottom: 2px solid #c84015;
	border-right: 2px solid #c84015;
	border-top: 2px solid #74250c;
	border-left: 2px solid #74250c;
}

td > a.button, td > a.button:hover
{
	color: #ff5b60 !important;
	border-style: none;
	border-color: none;
	background-color: transparent;
	box-shadow:inset 10px 10px 1em 15px transparent;
	-moz-box-shadow:inset 10px 10px 1em 15px transparent;
	-webkit-box-shadow:inset 10px 10px 1em 15px transparent;
}

table a.button:before
{
	content: "[";
}

table a.button:after
{
	content: "]";
}