div.article
{
	background-color: #323333;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	border-color: #dd070b;
	border-width: 0.2em;
}

div.article + div.article
{
	margin-bottom: 1em;
	margin-top: 1em;
}

div.articleHeader
{
	overflow: auto;
	background: #8a8a8a;
	color: #382e41;
	border-bottom: 0.15em solid #dd4718;
	margin-bottom: -0.5em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
}


div.timestamp
{
	text-align: left;
	float: left;
	margin-left: 1em;
}


div.author
{
	text-align: right;
}

div.articleContent
{
	margin-bottom: 0;
	margin-top: 0.5em;
	color: black;
	background-color: #dedede;
	padding: 1em;
	-webkit-border-top-left-radius: 0em;
	-webkit-border-top-right-radius: 0em;
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius: 0em 0em 1em 1em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 0em 0em 1em 1em;
}

a.button + div.article
{
	margin-top: 1em;
}

div.article + *
{
	margin-top: 1.5em;
}

*.newsButtonsGroup
{
	text-align: right;
	padding-bottom: 0.5em;
	margin-top: -1.32em;
}
