/* @override http://192.168.1.10/~ts/BZFlag/Ligen/GU/leaguesite/Messages/addstrict.css */

label, input[type="text"], textarea
{
	float: left;
	margin: 5px 5px 0 0;
	width: 25em;
}

/** html label, * html input, * html textarea
{
   margin: 5px 5px 0 6px;
}*/

textarea
{
	height: 10em;
	overflow: auto;
}

input[type=submit]
{
	text-align: center;
	margin: 5px 5px 2em 0;
}

input[type=submit]#msg_send_add_recipient
{
	text-align: center;
	position: relative;
	clear: left;
	margin: 7px 0 0 0;
}

div.msg_send_recipient_readonly:before
{
	 /* somehow content is needded so put something hidden */ 
	content:"\2022";
	visibility: hidden;
	width: 12.5em;
	float: left;
}

input[type=text][readonly]
{
	background-color: #f0f0f0;
	position: relative;
	bottom: 2.3em;
}

label
{
	text-align: right;
	width: 12em;
	padding: 2px 5px 0 0;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

input[type="text"], textarea
{
	background-color: #FFF;
	/* border: 1px solid #0A3485; */
	padding: 1px 2px;
	color: #000;
	font: 75% "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 40em;
}

/*
input[type="text"]:focus, textarea:focus
{
	background-color: #e8e8e8;
}


form textarea#msg_send_announcement
{
	border-top: 3px groove #eaeaea;
	border-left: 2px groove rgba(234,234,234,0.6);
	border-right: 2px groove rgba(254,255,255,0.6);
	border-bottom: 2px groove rgba(254,255,255,0.6);
}
*/

form div.add
{
	display: inline-block;
}

form div
{
	clear: left;
}