/* @override http://192.168.1.10/~ts/BZFlag/Ligen/GU/leaguesite/Messages/addstrict.css */

div.form_area
{
	width: inherit;
}

label
{
	width: 10em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}


input[type=text]
{
	width: 10cm;
	margin-bottom: 2mm;
}

input[type=text][readonly]
{
	position: relative;
	width: 9.24cm;
	background-color: #f4f4f4;
	margin-right: 1mm;
}

input[type=text]#msg_send_toN
{
	
	margin-bottom: 2mm;
	width: 9.24cm;
	margin-right: 1mm;
}

input[type=submit]#msg_send_add_recipient
{
	position: relative;
	width: 0.7cm;
	text-align: center;
}

input[type=submit].msg_send_remove_recipient
{
	position: relative;
	width: 0.7cm;
	text-align: center;
}

div.invisi
{
	visibility: hidden;
}

div.add
{
	margin-bottom: 1em;
	margin-left: 10em;
	margin-top: 2mm;
}

textarea#msg_send_announcement
{
	font-size: 1em;
	//max-width: 100%;
	//min-width: 1em;
	width: 10.1cm;
	height: 10em;
}