/* @override http://192.168.1.10/~spiele/league_svn/ts/trunk/leaguesite/web/styles/42_misc/rankings.css */

table#table_team_members_active_teams.big tr:nth-child(even) span, table#table_team_members_inactive_teams tr:nth-child(even) span
{
	display: inline-block;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
	margin-bottom: -4px;
	margin-top: 2px;
}

table tr:nth-child(odd) span
{
	display: inline-block;
	background-position: 0;
	margin-bottom: -5px;
}

div.team_header span.team_score span
{
	display: inline-block;
	position: relative;
	top: 0.2em;
	margin-top: -0.2em;
}

span.score700
{
	background-image: url(img/700.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score800
{
	background-image: url(img/800.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score900
{
	background-image: url(img/900.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1000
{
	background-image: url(img/1000.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1100
{
	background-image: url(img/1100.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1200
{
	background-image: url(img/1200.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1300
{
	background-image: url(img/1300.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1400
{
	background-image: url(img/1400.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1500
{
	background-image: url(img/1500.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1600
{
	background-image: url(img/1600.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1700
{
	background-image: url(img/1700.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1800
{
	background-image: url(img/1800.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}

span.score1900
{
	background-image: url(img/1900.png);
	background-repeat: no-repeat;
	padding-right: 19px;
	padding-bottom: 19px;
	margin-left: 0.5em;
}