/* @override 
	http://vps1.moooo.org/ts/styles/Test42
	http://192.168.1.10/~spiele/league_svn/ts/styles/Test42
	http://192.168.1.10/~spiele/league_svn/ts/styles/Test42.css
*/

body
{
	background: #323333 url(Test42_misc/BG.png) repeat fixed;
	color: black;
	max-width: 100em;
}

/* wrap lines when there is not enough space */
pre
{
	white-space: pre-wrap;
}

div.logo
{
	background: url(GUlogoQUER.png) no-repeat center;
	margin-bottom: 1px;
	height: 121px;
	margin-top: -8px;
}

p.first_p
{
	position: relative;
	margin-top: 0;
}

/* I want fancy tables */
table
{
	display: inline-block;
	color: black;
}

table.big
{
	display: block;
	background-color: #ddd;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

table caption
{
	display: block;
	color: #382e41;
	background: #8a8a8a;
	text-align: center;
	border-bottom: 0.15em solid #dd4718;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
}

table.big caption
{
	padding: 0.5em 1em 0.2em;
	margin-bottom: 0.5em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
}

th
{
	height: 1.5em;
	max-width: 80%;
	padding-left: 1em;
}

table.big tbody
{
	display: block;
	margin-bottom: 0.5em;
	overflow: auto;
}

table.big td
{
	width: 1%;
}

td
{
	padding-left: 1em;
}

tr
{
	width: 100%;
}

/* even table rows */
tr:nth-child(even)
{
	background: rgba(191,194,198,0.24);
}

/* uneven (odd) table rows */
tr:nth-child(odd)
{
	/*no special styling in THIS theme */
	/* background: #fafafa */
}

/* round the corners of last row */
/* first cell in last row */
tr:last-child td:first-child
{
	-webkit-border-top-left-radius: 0em;
	-webkit-border-top-right-radius: 0em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius: 0em 0em 0em 1em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 0em 0em 0em 1em;
}

/* last cell in last row */
tr:last-child td:last-child
{
	-webkit-border-top-left-radius: 0em;
	-webkit-border-top-right-radius: 0em;
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 0em 0em 1em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 0em 0em 1em 0em;
}

/* navigation */
ul.navigation
{
	text-align: center;
	list-style: none;
	background-color: #ddd;
	display: block;
	word-spacing: 0.3em;
	letter-spacing: -0.06em;
	overflow: auto;
	margin-right: 0.2em;
	margin-bottom: 0.5em;
	font: bold 1.2em Verdana, "Lucida Grande", Lucida, sans-serif;
	margin-top: 0;
	padding: 0.2em 0.5em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	border-bottom: 0.26em solid #c84015;
}

ul.navigation li
{
	list-style: none;
	display: inline;
	white-space: nowrap;
}

ul.navigation a
{
	color: #838499;
	text-decoration : none;
	font-weight: bold;
	font-variant: normal;
}

ul.navigation a.current_nav_entry
{
	color: #005981;
}


ul.navigation a:active
{
	color : #000088;
	text-decoration : underline;
}

ul.navigation a:hover
{
		color: #005981;
}

div.content
{
	color: white;
	text-align: left;
}

div.userbuttons
{
	text-align: right;
	margin-bottom: 1em;
	font-size: 0.9em;
	overflow: hidden;
	background-color: #dedede;
	padding-right: 0.5em;
	margin-top: -0.7em;
	margin-right: 0.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

div.online_user
{
	text-align: center;
}

div.static_page_box
{
	display: block;
	padding: 1em;
	color: black;
	background-color: #ddd;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

/* private messages */
span.unread_messages
{
	color: #dd4718;
}

a.msg_overview_unread:link
{
	color: #dd4718;
	font-weight: bold;
}

label.msg_send
{
	width: 10em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

label.msg_ann
{
	width: 3.5em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

label.msg_edit
{
	width: 4.4em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

label.team_change
{
	width: 9em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

* + div.team_change
{
	margin-top: 0.2em;
	margin-left: -9.3em;
}

input[type=text]
{
	width: 10cm;
	max-width: 100%;
	margin-bottom: 2mm;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

textarea
{
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	width: 59em;
	height: 25em;
}

input[type=text].small_input_field
{
	width: auto;
	margin-bottom: 2mm;
}

input[type=text][readonly]
{
	background-color: #f4f4f4;
}

div.msg_send_recipient_readonly input[type=text][readonly]
{
	width: 9.24cm;
	max-width: 80%;
	background-color: #f4f4f4;
	margin-right: 1mm;
}

input[type=text]#msg_send_toN
{
	width: 9.24cm;
	max-width: 80%;
	margin-bottom: 2mm;
	margin-right: 1mm;
}

input[type=submit]#msg_send_add_recipient
{
	width: 0.7cm;
	text-align: center;
}

input[type=submit].msg_send_remove_recipient
{
	width: 0.7cm;
	text-align: center;
}

div.invisi
{
	visibility: hidden;
}

div.add
{
	margin-bottom: 1em;
	margin-left: 10em;
	margin-top: 2mm;
}

div.msg_send > input[type=button]
{
	margin-bottom: 1mm;
}
div.msg_ann > input[type=button]
{
	margin-bottom: 1mm;
}
div.msg_edit > input[type=button]
{
	margin-bottom: 1mm;
}

textarea#msg_send_announcement
{
	width: 10.1cm;
	max-width: 100%;
	height: 10em;
	max-height: 90%;
}

/* news announcements */
a#new_entry.button + br +br + span
{
	display: block;
	text-align: right;
	margin-bottom: 0.15em;
	margin-top: -2.25em;
}

span.edit_and_delete_links
{
	display: block;
	text-align: right;
	margin-bottom: 0.1em;
}

div.article
{
	background-color: #323333;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	border-color: #dd070b;
	border-width: 0.2em;
}

div.article_header
{
	overflow: auto;
	background: #8a8a8a;
	color: #382e41;
	border-bottom: 0.15em solid #dd4718;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	padding-right: 1em;
	margin-bottom: -0.5em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
}


div.timestamp
{
	text-align: left;
	float: left;
	margin-left: 1em;
}


div.author
{
	text-align: right;
}

div.article p
{
	margin-bottom: 0;
	margin-top: 0.5em;
	color: black;
	background-color: #dedede;
	padding: 1em;
	-webkit-border-top-left-radius: 0em;
	-webkit-border-top-right-radius: 0em;
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius: 0em 0em 1em 1em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 0em 0em 1em 1em;
}

/* this  is only a theoretical case but handle it because a new message
 might get an id previously used by a deleted message */
a.msg_overview_unread:visited
{
	color: #dd4718;
	font-weight: bold;
}

div.folder_selection
{
	margin-bottom: 1em;
}

div.msg_area
{
	/*min-width: 80%;*/
	/*max-width: 55em;*/
	margin-bottom: 1em;
}

div.msg_view_full
{
	color: black;
	background-color: #ddd;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.msg_header_full
{
	text-align: left;
	color: #382e41;
	background: #8a8a8a;
	border-bottom: 0.15em solid #dd4718;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	overflow: auto;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
}

span.msg_subject
{
	font-weight: bold;
}

span.msg_author
{
	font-style: normal;
	padding-left: 1em;
	font-weight: normal;
}

span.msg_timestamp
{
	font-style: italic;
	padding-left: 1em;
}

span.msg_recipient_seperator
{
    color: #808080;
}

div.msg_contents
{
	margin-top: 0.2em;
}

/*team profile*/
div.team_area
{
	display: block;
	min-width: 100%;
	overflow: auto;
}

div.team_header
{
	display: block;
	min-width: 84%;
	color: black;
	background-color: #ddd;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.team_name
{
    text-align: center;
	background: #8a8a8a;
	border-bottom: 0.15em solid #dd4718;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	padding: 0.5em 1em 0.2em;
	font-weight: bold;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
}

img.team_logo
{
	float: right;
	margin-top: 1em;
}

div.team_profile_box img
{
	max-width: 100%;
	max-height: 100%;
}

span.team_score
{
    display:block;
	margin-top: 1em;
}

div.team_activity
{
	margin-bottom: 1em;
	display: block;
}

table.nested_table
{
	display: inline-block;
	margin-top: 1em;
	border: 0.2em solid rgba(181,181,181,0.61);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding-bottom: 0.5em;
}

table.nested_table caption
{
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.25em;
}

table.nested_table td
{
	padding-right: 1em;
}

div.team_profile_box
{
	display: block;
	color: black;
	background-color: #ddd;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	overflow: hidden;
	padding: 1em;
}

div.team_profile_header_text
{
	display: block;
	text-align: center;
	background: #8a8a8a;
	border-bottom: 0.15em solid #dd4718;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	margin: -1em -1em 1em;
	padding: 0.5em 1em 0.2em;
}

div.team_description
{
	margin-top: 0.2em;
	text-align: left;
}

table#table_team_members
{
	visibility: visible;
}

table#table_team_members caption
{
	visibility: visible;
	text-align: center;
}

/* user profile */
div.user_areas_container
{
	display: block;
	overflow: auto;
}

div.user_area
{
	display: block;
	overflow: hidden;
	min-width: 25em;
	color: black;
	background-color: #ddd;
	margin-bottom: 1em;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.user_general_info_header
{
	text-align: center;
	background: #8a8a8a;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	overflow: auto;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: bold;
}

span.user_profile_name
{
	margin-bottom: 1em;
	font-weight: bold;
	display: block;
}
span.user_description_banned
{
	color: red;
	display: block;
	text-align: right;
	margin-top: -2em;
	margin-bottom: 1em;
}
span.user_profile_name + div.user_profile_team_name
{
	margin-top: -1em;
	margin-bottom: 1em;
}

div.user_profile_location_timezone_row
{
	margin-bottom: 1em;
}
img.country_flag
{
	margin-bottom: -2px;
}

div.user_description
{
    text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

img.player_logo
{
	float: right;
}

span.user_description_deleted
{
	color: #dd4718;
	display: block;
	text-align: right;
	margin-top: -2em;
	margin-bottom: 1em;
}


span.user_comment
{
	display:block;
	margin-top: 0.5em;
}

span.no_user_comment
{
	color: #4f4f4f;
	display: block;
}

div.user_admin_comments_area
{
	color: black;
	background-color: #ddd;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.user_admin_comments_header_text
{
	background: #8a8a8a;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
	margin: -1em -1em 0.2em;
	text-align: center;
	font-weight: bold;
}

div.user_admin_comments
{
	overflow: auto;
	text-align: left;
	margin-top: 0.2em;
}


/* edit section */
label.player_edit
{
	width: 7.5em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

* + div.player_edit
{
	margin-bottom: -0.8em;
}

textarea.player_edit
{
	width: 10.1cm;
	max-width: 100%;
	height: 10em;
	max-height: 90%;
}

/* ban section */
form p#edit_user_suspended_status_description
{
	display: inline;
}

div.edit_user_suspended_status_send
{
	display: inline;
}

div.edit_user_suspended_status_send
{
	display: inline;
}

/* matches */
/* result bold */
table#table_matches_played tr td:nth-child(3)
{
	font-weight: bold;
}


/* hack because it's not possible to say to display something blocking using :before */
div.p
{
	margin-top: 1em;
}

/* common links */

span.onlineUsers
{
	color: #240500;
}

span.onlineUsers + span.logout:before
{
	content: "- ";
}

span.logout
{
	color: #240500;
}

div.msg_view_button_list
{
	text-align: center;
}

form.msg_buttons
{
	text-align: center;
	display: inline-block;
}

/* no need for a br tag after the form*/
form
{
	margin-bottom: 1em;
}

form.search_bar
{
	display: block;
	color: black;
	background: #8a8a8a;
	text-align: center;
	padding-top: 0.4em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

/* some links should be displayed as butttons */
a.button:before
{
    content: "[";
}

/*form.search_bar + a.button*/
div.content > a.button
{
	color: #dedede;
}

a.button:after
{
    content: "]";
}

/* remove underline from links */
a
{
	color: #dd4718;
	text-decoration: none;
}

a:hover
{
	color: #382e41;
}

a:visited
{
	color : #004080;
}

a:visited:hover
{
	color: #382e41;
}

a:active
{
	color : #000088;
}