/* @override 
	http://vps1.moooo.org/ts/styles/Ups%20Layout
	http://192.168.1.10/~spiele/league_svn/ts/styles/Ups%20Layout.css
*/

body
{
	background: #fafafa url(warm-snow.png) repeat scroll;
	color: black;
	max-width: 100em;
}

/* wrap lines when there is not enough space */
pre
{
	white-space: pre-wrap;
}

div.logo
{
	background: url(GUlogo.png) no-repeat fixed 8px 8px;
	width: auto;
	height: auto;
	display: inline-block;
	position: fixed;
	padding-right: 143px;
	padding-bottom: 600px;
	padding-left: 1px;
}

p.first_p
{
	position: relative;
	margin-top: 0;
}

/* I want fancy tables */
table
{
	display: inline-block;
}

table.big
{
	display: block;
	border: 0.2em dashed #677068;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

table caption
{
	background: rgba(191,194,198,0.64) -3px;
	display: block;
	text-align: center;
}

table.big caption
{
	padding: 0.5em 1em 0.2em;
	margin-bottom: 0.5em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
}

th
{
	height: 1.5em;
}

table.big tbody
{
	display: block;
	margin-bottom: 0.5em;
	margin-left: 1em;
	overflow: auto;
	margin-right: 1em;
}

/* even table rows */
tr:nth-child(even)
{
	background: rgba(191,194,198,0.24) -3px;
}

/* uneven (odd) table rows */
tr:nth-child(odd)
{
	/*no special styling in THIS theme */
	/* background: #fafafa */
}

/* navigation */
ul.navigation
{
	text-align: center;
	list-style: none;
	border: 0.2em dashed #677068;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	display: block;
	margin: 0em 0.2em 0.5em 151px;
	font: bold 1.2em Verdana, "Lucida Grande", Lucida, sans-serif;
	padding: 0.2em 0.5em;
	word-spacing: 0.3em;
	letter-spacing: -0.06em;
	overflow: auto;
}

ul.navigation li
{
	list-style: none;
	display: inline;
	white-space: nowrap;
}

ul.navigation a
{
	color: #838499;
	text-decoration : none;
	font-weight: bold;
	font-variant: normal;
}

ul.navigation a:active
{
	color : #000088;
	text-decoration : underline;
}

div.content
{
	color: black;
	text-align: left;
	margin-right: 0.2em;
	margin-left: 151px;
}

div.userbuttons
{
	text-align: right;
	margin-bottom: 1em;
	font-size: 0.9em;
	margin-right: 0.5em;
	overflow: hidden;
}

div.online_user
{
	text-align: center;
}

div.static_page_box
{
	display: block;
	padding: 1em;
	border: 0.2em dashed #677068;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

/* private messages */
span.unread_messages
{
	color: #dd4718;
}

a.msg_overview_unread:link
{
	color: #dd4718;
	font-weight: bold;
}

label.msg_send
{
	width: 10em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

label.msg_ann
{
	width: 3.5em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

input[type=text]
{
	width: 10cm;
	margin-bottom: 2mm;
}

input[type=text].small_input_field
{
	width: auto;
	margin-bottom: 2mm;
}

input[type=text]#msg_send_subject
{
	max-width: 100%;
}

input[type=text][readonly]
{
	background-color: #f4f4f4;
}

div.msg_send_recipient_readonly input[type=text][readonly]
{
	width: 9.24cm;
	max-width: 80%;
	background-color: #f4f4f4;
	margin-right: 1mm;
}

input[type=text]#msg_send_toN
{
	width: 9.24cm;
	max-width: 80%;
	margin-bottom: 2mm;
	margin-right: 1mm;
}

input[type=submit]#msg_send_add_recipient
{
	width: 0.7cm;
	text-align: center;
}

input[type=submit].msg_send_remove_recipient
{
	width: 0.7cm;
	text-align: center;
}

div.invisi
{
	visibility: hidden;
}

div.add
{
	margin-bottom: 1em;
	margin-left: 10em;
	margin-top: 2mm;
}

textarea#msg_send_announcement
{
	width: 10.1cm;
	max-width: 100%;
	font-size: 1em;
	height: 10em;
	max-height: 90%;
}

/* news announcements */
div.article
{
	border: 0.2em dashed #677068;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.article_header
{
	background: rgba(191,194,198,0.64) -3px;
	overflow: auto;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	padding-right: 1em;
	margin-bottom: -0.5em;
}

div.timestamp
{
	text-align: left;
	float: left;
	margin-left: 1em;
}


div.author
{
	text-align: right;
}

div.article p
{
	margin-left: 1em;
}

/* this  is only a theoretical case but handle it because a new message
 might get an id previously used by a deleted message */
a.msg_overview_unread:visited
{
	color: #dd4718;
	font-weight: bold;
}

div.folder_selection
{
	margin-bottom: 1em;
}

div.msg_area
{
	/*min-width: 80%;*/
	/*max-width: 55em;*/
	margin-bottom: 1em;
}

div.msg_view_full
{
	border: 0.2em dashed #677068;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.msg_header_full
{
	text-align: left;
	background: rgba(191,194,198,0.64) -3px;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	overflow: auto;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
}

span.msg_subject
{
	font-weight: bold;
	color: black;
}

span.msg_author
{
	font-style: normal;
	padding-left: 1em;
	font-weight: normal;
	color: black;
}

span.msg_timestamp
{
	font-style: italic;
	color: black;
	padding-left: 1em;
}

span.msg_recipient_seperator
{
    color: #808080;
}

div.msg_contents
{
	margin-top: 0.2em;
}

/*team profile*/
div.team_area
{
	display: block;
	min-width: 100%;
	overflow: auto;
}

div.team_header
{
	display: block;
	min-width: 84%;
	border: 0.2em dashed #677068;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.team_name
{
    text-align: center;
	background: rgba(191,194,198,0.64) -3px;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
	font-weight: bold;
}

img.team_logo
{
	float: right;
	margin-top: 1em;
}

div.team_profile_box img
{
	max-width: 100%;
	max-height: 100%;
}

span.team_score
{
    display:block;
	margin-top: 1em;
}

div.team_activity
{
	margin-bottom: 1em;
	display: block;
}

table.nested_table
{
	display: inline-block;
	margin-top: 1em;
	border: 0.2em dashed rgba(181,181,181,0.61);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding: 0.5em;
}

table.nested_table caption
{
	background: rgba(191,194,198,0.43) -3px;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.25em;
	margin-left: -0.5em;
	margin-top: -0.5em;
	margin-right: -0.5em;
}

div.team_profile_box
{
	border: 0.2em dashed #677068;
	display: block;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	overflow: hidden;
	padding: 1em;
}

div.team_profile_header_text
{
	display: block;
	text-align: center;
	background: rgba(191,194,198,0.64) -3px;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	margin: -1em -1em 1em;
	padding: 0.5em 1em 0.2em;
}

div.team_description
{
	margin-top: 0.2em;
	text-align: left;
}

table#table_team_members
{
	visibility: visible;
}

table#table_team_members caption
{
	visibility: visible;
	text-align: center;
}

/* user profile */
div.user_areas_container
{
	display: block;
	overflow: auto;
}

div.user_area
{
	display: block;
	overflow: hidden;
	min-width: 25em;
	border: 0.2em dashed #677068;
	margin-bottom: 1em;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.user_general_info_header
{
	text-align: center;
	background: rgba(191,194,198,0.64) -3px;
	margin-left: -1em;
	margin-top: -1em;
	margin-right: -1em;
	overflow: auto;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: bold;
}

span.user_profile_name
{
	margin-bottom: 1em;
	font-weight: bold;
	display: block;
}
span.user_description_banned
{
	color: red;
	display: block;
	text-align: right;
	margin-top: -2em;
	margin-bottom: 1em;
}

div.user_profile_location_description_row
{
	margin-bottom: 1em;
}

div.user_description
{
    text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

img.player_logo
{
	float: right;
}

span.user_description_deleted
{
	color: grey;
	display: block;
	text-align: right;
	margin-top: -2em;
	margin-bottom: 1em;
}


span.user_comment
{
	display:block;
	margin-top: 0.5em;
}

span.no_user_comment
{
	color: #4f4f4f;
	display: block;
}

div.user_admin_comments_area
{
	border: 0.2em dashed #677068;
	padding: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

div.user_admin_comments_header_text
{
	background: rgba(191,194,198,0.64) -3px;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-right-radius: 0em;
	-webkit-border-bottom-left-radius: 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	/* Don't know what the final CSS 3 spec will be */
	border-radius: 1em 1em 0em 0em;
	padding: 0.5em 1em 0.2em;
	margin: -1em -1em 0.2em;
	text-align: center;
	font-weight: bold;
}

div.user_admin_comments
{
	overflow: auto;
	text-align: left;
	margin-top: 0.2em;
}

/* edit section */
label.player_edit
{
	width: 7em;
	text-align: right;
	float: left;
	padding: 1mm 2mm 0 0;
}

input[type=text].logo_url
{
	max-width: 100%;
}

textarea.player_edit
{
	width: 10.1cm;
	max-width: 100%;
	font-size: 1em;
	height: 10em;
	max-height: 90%;
}

/* ban section */
form p#edit_user_suspended_status_description
{
	display: inline;
}

div.edit_user_suspended_status_send
{
	display: inline;
}

div.edit_user_suspended_status_send
{
	display: inline;
}

/* hack because it's not possible to say to display something blocking using :before */
div.p
{
	margin-top: 1em;
}

/* common links */

span.onlineUsers
{
	color: #240500;
	text-shadow: silver 1px 1px 2px;
}

span.onlineUsers + span.logout:before
{
	content: "- ";
}

span.logout
{
	color: #240500;
	text-shadow: silver 1px 1px 2px;
}

div.msg_view_button_list
{
	text-align: center;
}

form.msg_buttons
{
	text-align: center;
	display: inline-block;
}

/* no need for a br tag after the form*/
form
{
	margin-bottom: 1em;
}

/* some links should be displayed as butttons */
a.button:before
{
    content: "[";
}

a.button:after
{
    content: "]";
}

/* remove underline from links */
a
{
	text-decoration: none;
}

a:visited
{
	color : #004080;
}

a:active
{
	color : #000088;
}