<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<link href="{$baseURL}themes/{$curTheme}/{$curTheme}.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{$faviconURL}" />
<title>{$title}</title>
</head>
<body>
<div class="logo"></div>

{foreach $menu as $menuItem}{$menuItem}{foreachelse}
No menu found.
{/foreach}


<div class="userbuttons">
	<span class="date">{$date}</span>
	<span class="Servers">Match servers: <a href="{$baseURL}Servertracker/">{$onlinePlayers}</a></span>
	<span class="onlineUsers">Website: <a href="{$baseURL}Online/">{$onlineUsers}</a></span>
	{if isset($logoutURL)}<span class="logout"><a href="{$logoutURL}">Logout</a></span>{/if}
</div>

<div class="content">
{if isset($showReactivateButton)}<a class="button" href="?reactivate">Reactivate a team</a>{/if}

{if isset($teams) && !empty($teams)}
<table id="table_team_members_active_teams" class="big">
<caption>Active teams</caption>
<tr>
	<th>Name</th>
	<th>Score</th>
	<th>Matches</th>

	<th>Members</th>
	<th>Leader</th>
	<th>Activity</th>
	<th>Creation Date</th>
</tr>
{foreach item="team" from=$teams}
<tr class="teams_overview">
	<td><a href="{$team.profileLink}">{$team.name}</a></td>
	<td>{$team.score}<span class="{$team.scoreClass}"></span></td>
	<td><a href="{$team.matchSearchLink}">{$team.matchCount}</a></td>
	<td>{$team.memberCount}</td>
	<td><a href="{$team.leaderLink}">{$team.leaderName}</a></td>
	<td>{$team.activityNew} ({$team.activityOld})</td>
	<td>{$team.created}</td>
</tr>
{/foreach}
</table>
{elseif isset($offsetNext) && ($offsetNext-200) > 0}
<div class="static_page_box">No teams on this page.</div>
{else}
<div class="static_page_box">No teams found.<br /><br />What are you waiting for? Be the first one to create a new team!</div>
{/if}

<br />


<p>
{if isset($offsetPrev)}
{if $offsetPrev === 0}
<a class="button" href="./?folder={$curFolder}">Previous messages</a>
{else}
<a class="button" href="./?folder={$curFolder}&amp;i={$offsetPrev}">Previous messages</a>
{/if}
{/if}
{if isset($offsetPrev) && isset($offsetNext)} {/if}
{if isset($offsetNext)}<a class="button" href="./?folder={$curFolder}&amp;i={$offsetNext}">Next messages</a>{/if}
</p>

</div>
</body>
</html>
