<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<link href="{$baseURL}themes/{$curTheme}/{$curTheme}.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{$faviconURL}" />
<title>{$title}</title>
</head>
<body>
<div class="logo"></div>

{foreach $menu as $menuItem}{$menuItem}{foreachelse}
No menu found.
{/foreach}


<div class="userbuttons">
	<span class="date">{$date}</span>
	<span class="Servers">Match servers: <a href="{$baseURL}Servertracker/">{$onlinePlayers}</a></span>
	<span class="onlineUsers">Website: <a href="{$baseURL}Online/">{$onlineUsers}</a></span>
	{if isset($logoutURL)}<span class="logout"><a href="{$logoutURL}">Logout</a></span>{/if}
</div>

<div class="content">
<a class="button" href="./?profile={$teamid}">Cancel &amp; back to team profile</a>
<br /><br />

{if !isset($teamName) || $teamName === false}
<div class="static_page_box">Error: Could not find out team name for specified teamid {$teamid}.</div>
{else}

{if !isset($canEditTeam) || !$canEditTeam}
<div class="static_page_box">You have no permission to edit {$teamName}.</div>
{else}
<div class="static_page_box">
<form enctype="application/x-www-form-urlencoded" method="post" action="?edit=40">
<div><input type="hidden" name="confirmed" value="1" /></div>
<div><input type="hidden" name="key_name" value="randomkey_team0.19958100 1390653736" /></div>
<div><input type="hidden" name="randomkey_team" value="1081898905" /></div>
<p><label class="team_change" for="edit_team_name">Team name:</label>
<input type="text" maxlength="30" size="30" name="edit_team_name" value="{($teamName)}" id="edit_team_name" /></p>
<p><label class="team_change" for="team_leader">Leader:</label>
<select name="team_leader" id="team_leader">
{if !isset($members) || !is_array($members) || empty($members)}
	<option value="0">No leader</option>
{else}
{foreach item="member" from=$members}
	<option value="{$member.id}"{if $member.id === $leaderId} selected="selected"{/if}>{$member.name}</option>
{/foreach}
{/if}
</select>
</p>
<p>
	<label class="team_change" for="any_teamless_player_can_join">Can any teamless player join the team?</label>
	<input type="checkbox" name="any_teamless_player_can_join" value="1" id="any_teamless_player_can_join" />
</p>
{foreach item="button" from=$buttonsToFormat}
{$button}
{/foreach}
<div>
	<label class="team_change" for="team_description">Edit team description:</label>
	<span>
		<textarea id="team_description" rows="10" cols="50" name="team_description">{if !empty($teamDescription)}{$teamDescription|escape}{else}Think of a good team description. Hint: This isn't one ;){/if}</textarea>
	</span>
</div>
<p><label class="team_change" for="edit_avatar_url">Avatar URI:</label><input id="edit_avatar_url" type="text" name="logo_url" maxlength="200" size="60" value="{if isset($avatarURI) && $avatarURI}{$avatarURI|escape}{/if}" />
</p></div><p><input type="submit" name="edit_team_data" value="Submit new team data" id="send"></p>
</form>
</div>
{/if}

{/if}

</div>
</body>
</html>
